body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

#background {
  width: 100%;
  height: 100vh;
  /*background-image: url("../../assets/img/background.png");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  overflow: hidden;
  display: block;
}

#background:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0px 0px 1000px rgba(0,0,0,0.8);
  background: radial-gradient(ellipse, transparent 50%, rgb(0,0,0) 100%);
  /*background-color: rgba(250,255,0,0.01);*/
  /*mix-blend-mode: difference;*/
}

#gradient-top {
  height: 150px;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
}

#gradient-bottom {
  height: 150px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
}

#navbar-toggle {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#navbar-toggler-icon {
  line-height: 0px;
  font-size: 40px;
  margin-top: -5px;
  color: #ffffff;
  opacity: 1;
}

#navbar-top {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#navcol-1 {
  font-size: 30px;
}

#nav-menu .nav-link {
  color: #fff;
  font-family: Aldrich, sans-serif;
  /*font-size: 23px;*/
  font-weight: bold;
  /*line-height: 0;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 7px;
}

#nav-social .nav-link {
  color: #fff;
  /*padding-top: 10px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*font-size: 20px;*/
  /*line-height: 0;*/
  padding-bottom: 10px;
}

#social-icon {
  /*font-size: 50px;*/
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#navbar-bottom {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#nav-info .nav-link {
  color: #ffffff;
  font-family: Aldrich, sans-serif;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#nav-copyright {
  color: #222222;
  font-family: Aldrich, sans-serif;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-right: 8px;
  margin-top: 2px;
  margin-bottom: 0px;
}

#scene {
  width: 100%;
  height: 100vh;
  /*background-image: url("../../assets/img/background.png");*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  position: fixed;
  overflow: hidden;
  display: block;
}

#welcome {
  /*width: 100%;*/
  /*top: 40vh;*/
  /*left: 75vh;*/
  /*padding-top: 300px;*/
  /*text-align: center;*/
  font-size: 8vw;
  /*font-size: 130px;*/
  font-weight: bold;
  font-family: Aldrich, sans-serif;
  /*align-items: center;*/
  line-height: 110px;
}

#welcome-2 {
  /*width: 100%;*/
  position: relative;
  /*top: 54vh;*/
  /*left: 78vh;*/
  /*text-align: center;*/
  font-size: 4vw;
  /*font-size: 65px;*/
  font-family: Aldrich, sans-serif;
  /*align-items: center;*/
}

#l1 {
  position: absolute;
  top: 0;
  margin-top: 40vh;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  width: 100%;
  text-align: center;
}

#page-title {
  text-align: center;
  line-height: 60px;
  font-family: Aldrich, sans-serif;
  font-weight: bold;
  padding: 50px;
  font-size: 60px;
  margin-bottom: 0;
}

#page {
  top: 100px;
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  /*margin-top: 10vh;*/
  position: absolute;
  width: 100%;
  /*margin-bottom: 100px;*/
  /*transform: scale(2,2);*/
  padding-bottom: 50px;
}

#title {
  font-size: 35px;
  font-family: Aldrich, sans-serif;
}

#time {
  color: rgb(125,125,125);
  margin-top: -20px;
  margin-bottom: 30px;
}

#text {
  color: rgb(214,214,214);
  font-size: 24px;
  font-family: Aldrich, sans-serif;
  /*width: 370px;*/
}

#page-text {
  margin-top: 50px;
  margin-bottom: 100px;
}

#games-text {
  font-size: 24px;
  font-family: Aldrich, sans-serif;
}

@media (min-width: 300px) {
  #APP-Buttons {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  #APP-Buttons {
    margin-top: -90px;
  }
}

@media (max-width: 992px) {
  #navcol-1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  #games-text {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  #page-title {
    font-size: 50px;
    /*margin-top: -60px;*/
  }
}

@media (max-width: 768px) {
  #page-title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  #text {
    font-size: 20px;
  }
}

#wrapper {
  /*transform: scale(0.8,0.8);*/
}

